
form(method='POST' action='/new')
    div.newBox
        div.author
            label(for='author') Author
            input(type='text' name='author' id='')
        div.text
            label(for='text') Message
            input(type='text' name='text' id='')
         button(type="submit") Submit